* {
	font-family: 'Merriweather', serif;
  }


main h1 {
	font-size: 60px; 
	font-weight: bold;
}
main h2 {
	font-size: 40px; 
	font-weight: bold;
}

main h3 {
	font-size: 30px; 
	font-weight: bold;
}

main p{
	font-size: 20px; 
	font-weight: bold;
	font-style: italic;
}


 footer{
	text-align: center;
  }

.skip-link{
	background: white;
	left: 0;
	padding: 6px;
	position: absolute;
	top: -40px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
}

.skip-link:focus{
	top:15px;
	color: black;
	text-decoration-style: solid;
  }
  

nav {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-content: center;
	background: linear-gradient(90deg, #13b8e1, #024559);
  }
  nav a {
	text-decoration: none;
	padding-top: 2.5vh;
	padding-bottom: 2vh;
	font-size: 18px;
	font-family: 'Times New Roman';
	color: white;
  }


li a:hover:not(.active) {
background-color: #00FFFF;
}

.target1, .target2, .target3, .target4{
	color: #00FFFF;
	text-decoration: solid;
  }

#index {
background-image: url("../images/view.JPG");
background-color: white;
height: 935px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


#index::before {
content: "";
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
background-color: rgba(229, 229, 245, 0.25);
opacity: 0.5;
}

figure img {
padding: 5px;
border-radius: 10%;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
-webkit-filter: blur(3px);
filter: blur(3px);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
figure:hover img {
-webkit-filter: blur(0);
filter: blur(0);
}


@media (prefers-reduced-motion) {
img {
	animation:  none ;
}
}

figcaption {
text-align: center;
text-decoration: solid;
font-weight: 100;
}

.container{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.box {
width: 500px;
height: auto;
}

body.indexcon {
	row-gap: 2px;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(5,1fr);
}

body.indexcon nav{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-content: center;
	background: linear-gradient(90deg, #13b8e1, #024559); 
}


.main-block {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 50vh;
background: #223d4e;
}
form {
padding: 25px;
margin: 25px;
box-shadow: 0 2px 5px #f5f5f5; 
background: #f5f5f5; 
}
.fas {
margin: 25px 10px 0;
font-size: 72px;
color: #fff;
}
.fa-envelope {
transform: rotate(-20deg);
}
.fa-at , .fa-mail-bulk{
transform: rotate(10deg);
}
input, textarea {
width: calc(100% - 18px);
padding: 8px;
margin-bottom: 20px;
border: 1px solid #1c87c9;
outline: none;
}
input::placeholder {
color: #666;
}
button {
width: 100%;
padding: 10px;
border: none;
background: #161717; 
font-size: 16px;
font-weight: 400;
color: #fff;
}
button:hover {
background: #2371a0;
}

.videojs{
	margin-left: 35vw;
	width: 30vw;
	height:35vh;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
  }

.options{
	width: 30vw;
	display: flex;
	justify-content: space-around;
}

button#play, button#pause, button#slower, button#faster, button#mute{
	border-radius: 0.6rem;
	background-color: rgb(246, 92, 92);
	font-size: 1.1rem;
	cursor: pointer;
}



@media only screen and (min-width: 320px) and (max-width: 800px) {

	body.indexcon header{
		grid-column: 1 / -1 ;
		grid-row: 1 ;
		width: 100vw;
		}
		body.indexcon #index{
		grid-column: 1 / -1 ;
		grid-row: 2 / 4 ;
		}
		
		body.indexcon aside{
		grid-column: 1 / -1 ;
		grid-row: 4 / 5 ;
		}
		
		body.indexcon footer{
		grid-column: 1 / -1 ;
		grid-row: 5 ;
		}

	.main-block {
	flex-direction: row;
	}
	.left-part, form {
	width: 50%;
	}
	.fa-envelope {
	margin-top: 0;
	margin-left: 20%;
	}
	.fa-at {
	margin-top: -10%;
	margin-left: 65%;
	}
	.fa-mail-bulk {
	margin-top: 2%;
	margin-left: 28%;
	}

	div.videojs{
		display: none;
	  }

	#index {
	background-image: none;  
	background:black;
	background: linear-gradient(90deg, #1c1a1c, #024559); 
	color:LightGray;
	}

	nav a {
		padding-top:0;
		padding-bottom:0;
	  }


}
@media only screen and (min-width: 800px) and (max-width: 1200px){
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	  }

	li a {
	display: flex;
	color: white;
	text-align: center;
	padding: 20px 22px;
	text-decoration: none;
	}

	body.indexcon header{
		grid-column: 1 / -1 ;
		grid-row: 1 ;
		width: 100vw;
		}
		body.indexcon #index{
		grid-column: 1 / 5 ;
		grid-row: 2 / 5 ;
		}
		
		body.indexcon aside{
		grid-column: 5 / 7 ;
		grid-row: 2 / 5 ;
		}
		
		body.indexcon footer{
		grid-column: 1 / -1 ;
		grid-row: 5 ;
		}



	div.videojs{
		display: none;
	  }


}
@media only screen and (min-width: 1200px){
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	  }
	li {
	float: left;
	}

	li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 22px;
	text-decoration: none;
	}

	button{
		margin-bottom: 5px;
		flex-basis: 200px;
		font-size:125%;
	}

	body.indexcon header{
		grid-column: 1 / -1 ;
		grid-row: 1 ;
		width: 100vw;
		}


	body.indexcon #index{
		grid-column: 1 / 4 ;
		grid-row: 2 / 6 ;
		}

	body.indexcon aside{
		grid-column: 4 / 5 ;
		grid-row: 4 / 5 ;
		}

	body.indexcon footer{
		grid-column: -1 / 1 ;
		grid-row: 5 ;
	}

	body.indexcon .videojs{
		grid-column: 3 / 5 ;
		grid-row: 2 / 4 ;
	}
}
